

/* You can add global styles to this file, and also import other style files */
@import "./scss/abstracts/variables";

html {
  height: 100%;
}

body {
  font-family: $primary-font !important;
  height: 100%;
  font-size: $primary-font-size;
  background-color:transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.btn {
  padding-left: 0;
}

.container-fluid {
  padding: 0 80px;
  @media (max-width: $tablet-size) {
    padding: 0 40px;
  }
  @media (max-width: $sm-size) {
    padding: 0 20px;
  }
}

.primary-btn {
  background: $primary-color !important;
  height: 40px;
  width: 100%;
  color: $dark-color !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  box-shadow: none;
  &:hover {
    background: #1bb5d9 !important;
    color: $tertiary-color !important;
    font-weight: 600;
    border: 2px solid $primary-color;
  }
}

.secondary-btn {
  background: #ffcef3 !important;
  height: 40px;
  width: 100%;
  box-shadow: none;
  color: $dark-color !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  &:hover {
    background: #bc3d9d !important;
    border: 2px solid $secondary-color;
    color: $tertiary-color !important;
    font-weight: 600;
  }
}

textarea {
  resize: none;
  overflow: hidden;
}