

/* You can add global styles to this file, and also import other style files */
@use "./scss/abstracts/variables";

html {
  height: 100%;
}

body {
  font-family: variables.$primary-font !important;
  height: 100%;
  font-size: variables.$primary-font-size;
  background-color:transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  color: variables.$title-color;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}


.container-fluid {
  padding: 0 80px;
  @media (max-width: variables.$title-color) {
    padding: 0 40px;
  }
  @media (max-width: variables.$title-color) {
    padding: 0 20px;
  }
}

.primary-btn {
  background: variables.$primary-color !important;
  height: 40px;
  color: variables.$primary-color !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  box-shadow: none;
  &:hover {
    background: #1bb5d9 !important
  }
}

.secondary-btn {
  background: #ffcef3 !important;
  height: 40px;
  box-shadow: none;
  color: variables.$primary-color !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  &:hover {
    background: #bc3d9d !important;
  }
}

textarea {
  resize: none;
  overflow: hidden;
}